<div class="container_new">
  <div class="booking_card Login">
    <h1>MAKE A BOOKING</h1>

    <div>
        <%= simple_form_for [@island, @booking] do |f| %>
          <div class="form-inputs">
            <%= f.input :start_time %><br>
            <%= f.input :end_time %><br>
          </div>
          <div class="form-actions">
            <%= f.submit "MAKE A RESERVATION", class: "btn btn-primary" %>
            <% end %>
          </div>
    </div>
  </div>

</div>
