<div class="container_new">
  <div class="booking_card">
    <h1>Make a booking</h1>

    <div>
        <%= simple_form_for [@island, @booking] do |f| %>
          <%= f.input :start_time %><br>
          <%= f.input :end_time %><br>
          <%= f.submit "Make a booking", class: "btn btn-primary" %>
        <% end %>
    </div>

