<div class="footer">
  <div class="row">
    <div class="col-md-6 mt-md-0 mt-3">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus unde, dolore. Non libero natus facere saepe a quam, debitis repellat ipsum cum dolores laboriosam quibusdam consectetur aut quo minus quia culpa! Alias velit dolor laborum delectus exercitationem eum dicta aut provident id praesentium. Non, quaerat, eius?</p>
    </div>
    <div class="col-md-3 mb-md-0 mb-3">
      <ul class="list-unstyled">
        <li>
          <a href="#!">See all the islands</a>
        </li>
        <li>
          <a href="#!">Post your island</a>
        </li>
        <li>
          <a href="#!">See your bookings</a>
        </li>
        <li>
          <a href="#!">See your profile</a>
        </li>
      </ul>
    </div>
  <div class="col-md-3 mb-md-0 mb-3">
    <ul class="list-unstyled">
      <li>
        <a href="#!">See all the islands</a>
      </li>
      <li>
        <a href="#!">Post your island</a>
      </li>
      <li>
        <a href="#!">See your bookings</a>
      </li>
      <li>
        <a href="#!">See your profile</a>
      </li>
    </ul>
  </div>
  </div>
  <div class="copyright" style="text-align:center">
    <p class="pro">Made with <i class="fas fa-brain"></i> and <i class="fas fa-heart"></i> by the IMPACT team. <br>GET READY FOR IMPACT</p>
  </div>
</div>
