<!--

<div class="footer">
  <div class="footer-links">
    <a href="/islands">Check out our islands</a>
    <a href="/islands/new">Post your island</a>
  </div>
  <div class="footer-copyright">
    Made with <i class="fas fa-heart"></i>and <i class="fas fa-heart"></i> by the IMPACT team. <br>GET READY FOR IMPACT</p>
  </div>
</div>
 -->

 <div class="footer">
  <div class="row">
    <div class="col-md-6 mt-md-0 mt-3">
      <p>Founded in Berlin, during the amazing bootcamp @Le Wagon. Sponsored by Budweiser. Special thanks to:
        <ul>
          <li>Santi</li>
          <li>Amélie</li>
          <li>Alexander</li>
          <li>@propagandist</li>
          <li>Aurian</li>
          <li>Romeo</li>
        </ul>
      </p>
    </div>
    <div class="col-md-3 mb-md-0 mb-3">
      <ul class="list-unstyled">
        <li>
          <a href="/islands">See all the islands 🏝</a>
        </li>
        <li>
          <a href="/islands/new">Post your island 👈</a>
        </li>
        <li>
          <a href="#!">See your bookings</a>
        </li>
        <li>
          <a href="#!">See your profile</a>
        </li>
        <li>
          <a href="#!">Read our reviews</a>
        </li>
        <li>
          <a href="#!">Check parties around you</a>
        </li>
        <li>
          <a href="#!">Terms and conditions</a>
        </li>
        <li>
          <a href="#!">Work with us</a>
        </li>
      </ul>
    </div>
  </div>
  </div>
  <div class="copyright" style="text-align:center">
    <p class="pro">Made with <i class="fas fa-brain"></i> and <i class="fas fa-heart"></i> by the IMPACT team. <br>GET READY FOR IMPACT</p>
  </div>
</div>
