<div class="banner_home">
  <div class="container">
    <h1>BISLANDO</h1>
      <br>
      <br><br>
      <div class="search-form-control form-group">
        <%= form_tag islands_path, method: :get do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Enter a continent"
          %>
          <div class="button-search">
          <%= submit_tag "Search", class: "btn" %></i>
          </div>
        <% end %>
      </div>
  </div>
</div>
<div class="container-beige">

  <div class="cards">
    <!-- <div class="card-home" style="background-image: url('https://images.pexels.com/photos/1536428/pexels-photo-1536428.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')">
    <h1>RELAX</h1>
    </div>

    <div class="card-home" style="background-image: url('https://images.pexels.com/photos/1387037/pexels-photo-1387037.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')">
    <h1>PARTY</h1>
    </div> -->
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="card-home flip-card-front" style="background-image: url('https://images.pexels.com/photos/1536428/pexels-photo-1536428.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')">
         <h1>RELAX</h1>
         </div>
        <div class="flip-card-back">
          <h1>RELAX</h1>
          <p><strong>What are you waiting for?</strong></p>
          <p>Bislando is the app you didn't know you needed!<br>Browse through the islands and choose your favourite one for your perfect party.<br>Our 24/7 global support is available in 11 different languages and ready to help wherever you are.<br>The Guest Refund Policy covers many travel issues, and we’ll rebook or refund you if any of them come up.</p>
        </div>
      </div>
    </div>

    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="card-home flip-card-front" style="background-image: url('https://images.pexels.com/photos/1387037/pexels-photo-1387037.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')">
         <h1>PARTY</h1>
         </div>
        <div class="flip-card-back">
          <h1>PARTY</h1>
          <p><strong>What are you waiting for?</strong></p>
          <p>Bislando is the app you didn't know you needed!<br>Browse through the islands and choose your favourite one for your perfect party.<br>Our 24/7 global support is available in 11 different languages and ready to help wherever you are.<br>The Guest Refund Policy covers many travel issues, and we’ll rebook or refund you if any of them come up.</p>
        </div>
      </div>
    </div>

    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="card-home flip-card-front" style="background-image: url('https://images.pexels.com/photos/572780/pexels-photo-572780.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260')">
         <h1>ENJOY</h1>
         </div>
        <div class="flip-card-back">
          <h1>ENJOY</h1>
          <p><strong>What are you waiting for?</strong></p>
          <p>Bislando is the app you didn't know you needed!<br>Browse through the islands and choose your favourite one for your perfect party.<br>Our 24/7 global support is available in 11 different languages and ready to help wherever you are.<br>The Guest Refund Policy covers many travel issues, and we’ll rebook or refund you if any of them come up.</p>
        </div>
      </div>
    </div>

  </div>
</div>
<div class="container-sand"><br><br><br>
  <div class="door-and-text container justify-content-center">
    <div class="backDoor"><h1><a href="https://bislando-riccardoamici-ricky.herokuapp.com/islands"><i class="fas fa-search"></i>

</a></h1>
      <div class="door">
      </div>
    </div>
    <div class="text-next-door">
      <h1>THE BEST IS YET TO COME </h1>
      <p>Are you tired of all the people at the parties?<br><strong>Open the door to see how your next party is gonna look like</strong>.<br>It's not a dream, with a few clicks this can be yours.<br><strong>Book an island now</strong></p>
    </div>
  </div>
</div>
