<div class="container">
  <h1>Bislando</h1>
  <p>Book your dream island for an unforgettable party!</p>

  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
    <div class="container">
      <h1>Bislando takes <strong>your idea of party</strong> to <strong>the next level</strong>!</h1>
      <p>Check out our dream destinations and find the one that fits the best with your crew.</p>
      <a class="btn btn-success" href="/islands">Book now</a>
    </div>
  </div>
</div>
