.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  height: 400px;
  h1{
    color: white;
    text-align: center;
    font-size: 80px;
    letter-spacing: 30px;
  }
}

