.btn-gradient {
  color: black;
  padding: 15px 30px;
  border-radius: 8px;
  font-weight: bold;
  background: #F4F4F4;
  transition: background 0.3s ease;
  border: 1px solid #0E0000;
}

// .btn-gradient:hover {
//   // background: linear-gradient(#F4F4F4, #0E0000);
//   color: white;

