.card-product {
  overflow: hidden;
  height: 300px;
  width: 700px;
  background: transparent;
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-top: 1px solid #a2a2a2;
  border-bottom: 1px solid #a2a2a2;
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
}

.card-product img {
  height: 100%;
  width: 350px;
  object-fit: cover;
  border-radius: 12px;
}

.card-product h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  a {
  text-decoration: none;
  }
}

.card-product p {
  font-size: 16px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;

}

.card-pricing {
  text-align: right;
    position: absolute;
    right: 16px;
    top: 260px;
    width: 140px;
}
