.Create {
  margin: auto;
  // margin-right: 200px;
  width: 600px;
  border: 2px solid $light-gray;
  padding: 50px;
  border-radius: 15px;
  background-color: $light-gray;
  margin-top: 100px;
  // margin-bottom: 50px;

}


