

.footer {
 // /background: $acqua;
 //  display: flex;
 //  align-items: center;
 //  justify-content: space-between;
 //  height: 100px;
 //  padding: 0px 50px;
 //  color: rgba(0,0,0,0.3);
 //  position: fixed;
 //  bottom: 0;
 //  width: 100%;
 color: $white;
 bottom:0;
 margin: 0 auto;
 padding-top: 14px;
 padding-bottom: 10px;
 width: 100%;
 background-color: $acqua;
   .row{
     padding: 40px;
   }
}
.footer-links {
  display: flex;
  align-items: center;
}

.footer .fa-heart {
  color: #D23333;
}

.fab {
  font-size: 30px;
}

.socialmedia {
  margin-bottom: 20px;
  letter-spacing: 5px;
  border-bottom: 1px solid black;
  padding-bottom: 10px;
}


// .list-unstyled  a {
//     // border-bottom: 1px solid black;
//     // border-bottom-width: thin;
//     // padding: 10px 20px;
//     color: black;

//   &:hover {
//     text-decoration: none;
//       background-color:#5A9BAF !important;
//       box-shadow: 0 4px 6px -4px black;
//   }
// }

.list-unstyled li{
  margin: 5px 0;
}

.list-right {
  padding-left: 120px;
}


.fooo {
  width: 200px;
  background-color: $acqua;
  margin: 0;
  &:hover {
    background-color: $darkblue;
  }

}

.name {
  color: white;
  &:hover {
    color: white;
  }
}



